@import "./base.scss";

.realocar-home{
	padding: 0 25px;
	min-height: 300px;
	color: $realocar-light-gray;
	background-color: $realocar-gray;

	&__title{
		padding: 20px;
		font-size: 28px;
		text-align: center;
	}

	&__flow{
		margin-top: 70px;

		&--ul{
			list-style-type: none;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
		}

		&--li{
			cursor: pointer;
		}

		&__title{
			padding-bottom: 20px;
			font-size: 24px;
		}

		&__content{
			display: flex;
			border-top: 2px solid $realocar-darkest-gray;
			position: relative;
			height: 1px;
			min-width: 250px;

			&:before{
				content: '';
				width: 20px;
				height: 20px;
				background-color: $realocar-gray;
				border-radius: 20px;
				border: 1px solid $realocar-darkest-gray;
				position: absolute;
				top: -12px;
				left: 47%;
			}

			&--active{
				border-top: 2px solid $realocar-orange;
				transition: all 200ms ease-in-out;

				&:before{
					transition: all 200ms ease-in;
					background-color: $realocar-orange;
					border: 1px solid $realocar-orange;
				}
			}

			&--done{
				border-top: 2px solid $realocar-orange;
				transition: all 200ms ease-in-out;

				&:before{
					transition: all 200ms ease-in;
					border: 1px solid $realocar-orange;
				}
			}
		}
	}

	&__description{
		margin: 40px 100px 50px 100px;
		padding: 25px;
		border: 2px solid $realocar-orange;
		background-color: $realocar-dark-gray;
		border-top: none;
		border-bottom: none;
		border-radius: 10px;
		font-size: 16px;
	}
}