.realocar-header{
	color: #32363F;
	height: 150px;
	background-color: #F8F8F8;

	&__logo{
		height: 100px;
		padding: 25px;
	}

	&__title{
		display: inline-block;
		vertical-align: top;
		width: 30%;
		p{
			margin-top: 40px;
			margin-bottom: 0;
			font-size: 35px;
		}

		span{
			font-style: italic;
		}
	}

	&__sub-title{
		width: 350px;
		font-size: 14px;
		vertical-align: top;
		float: right;

		p{
			padding: 30px 30px;
			text-align: center;
			color: gray;
			font-style: italic;
		}
	}
}
