@import "./base.scss";

.realocar-header{
	height: 150px;
	background-color: $realocar-dark-gray;
	// background-color: $realocar-gray;

	&__logo{
		height: 100px;
		padding: 25px 45px;
	}

	&__title{
		color: $realocar-light-gray;
		display: inline-block;
		vertical-align: top;
		width: 38%;
		text-align: right;

		p{
			margin-top: 50px;
			margin-bottom: 0;
			font-size: 40px;
		}

		span{
			color: $realocar-orange;
		}
	}

	&__sub-title{
		width: 250px;
		font-size: 14px;
		vertical-align: top;
		float: right;

		p{
			padding-top: 25px;
			text-align: center;
			color: #5a6172;
			// color: #8d94a5;
			font-style: italic;
		}
	}
}
