@import "./base.scss";

.realocar-panel{
	min-height: 350px;
	background-color: $realocar-dark-gray;
	padding: 0 25px;

	&__board{
		width: 350px;
		display: inline-block;
		
		&__ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			padding-left: 10px;
			max-height: 600px;
			overflow-y: auto;
		}
		
		&__titulo{
			font-size: 20px;
			font-weight: 600;
			padding-top: 50px;
			padding-bottom: 30px;
			padding-left: 15px;
			margin: 0;
			margin-left: 10px;
			color: $realocar-orange;
			border-left: 2px solid $realocar-orange;
		}
		
		&__box{
			$this: &;
			font-size: 14px;
			color: $realocar-light-gray;
			border-left: 2px solid $realocar-orange;
			
			&__titulo{
				font-weight: 600;
				padding-left: 15px;
				padding-right: 15px;
				
				div{
					background-color: $realocar-gray;
					padding: 10px;
					padding-bottom: 3px;
					border-right: 2px solid $realocar-light-gray;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					cursor: pointer;
				}
			}
			
			&__desc{
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 15px;
				font-size: 12px;
				position: relative;
				
				div{
					cursor: pointer;
					background-color: $realocar-gray;
					padding: 10px;
					padding-top: 3px;
					border-right: 2px solid $realocar-light-gray;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
				
				&:before{
					content: '';
					width: 12px;
					height: 12px;
					border-radius: 15px;
					background-color: $realocar-dark-gray;
					border: 1px solid $realocar-orange;
					position: absolute;
					top: -7px;
					left: -8px;
					z-index: 1000;
				}
			}
	
			&__bottom{
				border-left: 2px solid $realocar-orange;
				height: 50px;
				margin-left: 10px;
			}
	
			&:hover{
				#{$this}{
					&__titulo{
						color: $realocar-orange;
						transition: all .1s;
	
						div{
							border-color: $realocar-orange;
							border-width: 3px;
						}
					}
	
					&__desc{
						div{
							border-color: $realocar-orange;
							border-width: 3px;
						}
					}
				}
	
			}
	
			&.selecionada{
				#{$this}{
					&__titulo{
						color: $realocar-orange;
						div{
							border-color: $realocar-orange;
						}
					}
	
					&__desc{
						div{
							border-color: $realocar-orange;
						}
						&:before{
							width: 18px;
							height: 18px;
							left: -11px;
							top: -10px;
							background-color: $realocar-orange;
							transition: all .2s;
						}
					}
				}
			}
		}
	}


	&__desc{
		margin-left: 25px;
		margin-bottom: 25px;
		display: inline-block;
		vertical-align: top;
		width: calc(96% - 360px);

		&__titulo{
			padding-top: 50px;
			padding-bottom: 30px;
			color: $realocar-orange;
			font-size: 20px;
			font-weight: 600;
			text-align: right;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		&__vaga{
			background-color: $realocar-gray;
			padding: 20px 20px;
			color: $realocar-light-gray;
			font-size: 14px;
			border-radius: 5px;
			border: 2px solid $realocar-light-gray;
			border-top: none;
			border-bottom: none;
			font-size: 14px;
			
			&__titulo{
				vertical-align: top;
				display: inline-block;
				text-align: left;
				font-weight: 600;
				padding-bottom: 15px;
				width: 49%;
				color: $realocar-orange;
				font-size: 16px;
			}
			
			&__sub-titulo{
				display: inline-block;
				text-align: right;
				padding-bottom: 15px;
				font-weight: 600;
				width: 49%;
			}
			
			&__desc{
				max-height: 450px;
				overflow-y: auto;
			}
		}

		&__candidatar{
			text-align: center;
			position: relative;

			div{
				cursor: pointer;
				vertical-align: bottom;
				color: $realocar-light-gray;
				background-color: $realocar-dark-gray;
				margin: 25px 25% 10px 25%;
				width: 50%;
				border-radius: 5px;
				padding: 10px 0px;
				font-weight: 600;
				font-size: 18px;
				border: 2px solid $realocar-orange; 
				border-top: none;
				border-bottom: none;

				&:hover{
					color: $realocar-orange;
					border-width: 3px;
					width: calc(50% - 2px);
					transition: all .2s;
				}
			}

			&__icon{
				height: 25px;
				position: absolute;
				padding-left: 20px;
				top: 7px;
			}
		}

		&__vazio{
			content: '';
			background-color: $realocar-gray;
			padding: 100px 10px;
			border-radius: 5px;
			border: 2px solid $realocar-light-gray;
			border-top: none;
			border-bottom: none;
			text-align: center;
			font-size: 18px;
			font-weight: 600;
			color: #70778f;

			&:hover{
				color: #a9adbc;
				transition: all .2s;
			}
		}
	}
}
