
.realocar-panel{
	min-height: 150px;
	background-color: #32363F;
	padding: 0 25px;

	&__board{
		width: 350px;;
		display: inline-block;

		&__ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		&__titulo{
			font-size: 20px;
			font-weight: 600;
			padding-top: 50px;
			padding-bottom: 30px;
			padding-left: 15px;
			color: #FBB041;
			border-left: 2px solid #FBB041;
		}

	}

	&__box{
		$this: &;
		font-size: 16px;
		color: #D6DCE0;
		border-left: 2px solid #FBB041;

		&__titulo{
			font-weight: 600;
			padding-left: 15px;

			div{
				background-color: #434756;
				padding: 10px;
				border-right: 2px solid #D6DCE0;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				cursor: pointer;
			}
		}

		&__desc{
			padding-left: 15px;
			padding-bottom: 20px;
			font-size: 14px;
			position: relative;

			div{
				cursor: pointer;
				background-color: #434756;
				padding: 10px;
				border-right: 2px solid #D6DCE0;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			&:before{
				content: '';
				width: 12px;
				height: 12px;
				border-radius: 15px;
				background-color: #32363F;
				border: 1px solid #FBB041;
				position: absolute;
				top: 0px;
				left: -7px;
			}
		}

		&__bottom{
			border-left: 2px solid #FBB041;
			height: 50px;
		}

		&:hover{
			#{$this}{
				&__titulo{
					color: #FBB041;
					transition: all .1s;

					div{
						border-color: #FBB041;
						border-width: 3px;
					}
				}

				&__desc{
					div{
						border-color: #FBB041;
						border-width: 3px;
					}
				}
			}

		}

		&.selecionada{
			#{$this}{
				&__titulo{
					color: #FBB041;
					div{
						border-color: #FBB041;
					}
				}

				&__desc{
					div{
						border-color: #FBB041;
					}
					&:before{
						width: 18px;
						height: 18px;
						left: -10px;
						top: -3px;
						background-color: #FBB041;
						transition: all .2s;
					}
				}
			}
		}
	}

	&__desc{
		margin-left: 25px;
		display: inline-block;
		vertical-align: top;
		width: calc(96% - 350px);

		&__titulo{
			padding-top: 50px;
			padding-bottom: 30px;
			color: #FBB041;
			font-size: 20px;
			font-weight: 600;
			text-align: right;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		&__vaga{
			background-color: #434756;
			padding: 20px 20px;
			color: #D6DCE0;
			font-size: 14px;
			border-radius: 5px;
			border: 2px solid #D6DCE0; 
			border-top: none;
			border-bottom: none;
			font-size: 16px;

			&__titulo{
				vertical-align: top;
				display: inline-block;
				text-align: left;
				font-weight: 600;
				padding-bottom: 15px;
				width: 49%;
				color: #FBB041;
				font-size: 18px;
			}

			&__sub-titulo{
				font-size: 14px;
				display: inline-block;
				text-align: right;
				padding-bottom: 15px;
				font-weight: 600;
				width: 49%;
			}
		}

		&__candidatar{
			text-align: center;
			position: relative;

			div{
				cursor: pointer;
				vertical-align: bottom;
				color: #D6DCE0;
				background-color: #32363F;
				margin: 100px 25% 10px 25%;
				width: 50%;
				border-radius: 5px;
				padding: 10px 0px;
				font-weight: 600;
				font-size: 18px;
				border: 2px solid #FBB041; 
				border-top: none;
				border-bottom: none;

				&:hover{
					color: #FBB041;
					border-color: #FBB041;
					transition: all .2s;
				}
			}

			&__icon{
				height: 25px;
				position: absolute;
				padding-left: 20px;
				top: 7px;
			}
		}

		&__vazio{
			content: '';
			background-color: #434756;
			padding: 100px 10px;
			border-radius: 5px;
			border: 2px solid #D6DCE0;
			border-top: none;
			border-bottom: none;
			text-align: center;
			font-size: 18px;
			font-weight: 600;
			color: #70778f;

			&:hover{
				color: #a9adbc;
				transition: all .2s;
			}
		}
	}
}
