.realocar-header{
	height: 150px;
	background-color: #434756;

	&__logo{
		height: 100px;
		padding: 25px 50px;
	}

	&__title{
		color: #D6DCE0;
		display: inline-block;
		vertical-align: top;
		width: 38%;
		text-align: right;

		p{
			margin-top: 50px;
			margin-bottom: 0;
			font-size: 40px;
		}

		span{
			color: #FBB041;
		}
	}

	&__sub-title{
		width: 250px;
		font-size: 14px;
		vertical-align: top;
		float: right;

		p{
			padding-top: 25px;
			text-align: center;
			color: #8d92a5;
			font-style: italic;
		}
	}
}
